<style type="text/css">
table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
</style>
<h1 align="center">Listing holidays</h1>

<table class = 'hovertable' align="center">
  <tr align="center">
    <th>Name</th>
    <th>Date</th>
    <th>Desciption</th>
    <th>Actions</th>
  </tr>

<% @holidays.each do |holiday| %>
  <tr align="center">
    <td><%= holiday.name %></td>
    <td><%= holiday.date %></td>
    <td><%= holiday.desciption %></td>
    <td><%= link_to 'Edit', edit_holiday_path(holiday) %> |
    <%= link_to 'Remove', holiday, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<!-- <p align="center"><button><%= link_to 'New Holiday', new_holiday_path %></button>
<button><%= link_to "Back", '/' %></button></p>

Proper methos to generate button action -->
<%= button_to 'New Holiday', new_holiday_path,:method => :get %>
<%= button_to "Back", '/',:method => :get %></p>