<h1 align="center">Listing holidays</h1>

<table border = '1' align="center">
  <tr align="center">
    <th>Name</th>
    <th>Date</th>
    <th>Desciption</th>
    <th>Actions</th>

  </tr>

<% @holidays.each do |holiday| %>
  <tr align="center">
    <td><%= holiday.name %></td>
    <td><%= holiday.date %></td>
    <td><%= holiday.desciption %></td>
    <td><%= link_to 'Edit', edit_holiday_path(holiday) %> |
    <%= link_to 'Remove', holiday, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p align="center"><button><%= link_to 'New Holiday', new_holiday_path %></button>
<button><%= link_to "Back", '/' %></button></p>
