<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @holiday.name %>
</p>

<p>
  <b>Date:</b>
  <%= @holiday.date %>
</p>

<p>
  <b>Desciption:</b>
  <%= @holiday.desciption %>
</p>

<% if can? :update, @holiday %>
<%= button_to "Edit", edit_holiday_path(@holiday),:method => :get %>
<% end %>

<%= button_to "Edit",'/',:method => :get %>

