<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @leavetype.name %>
</p>

<p>
  <b>Max leaves:</b>
  <%= @leavetype.max_leaves %>
</p>


<%= link_to 'Edit', edit_leavetype_path(@leavetype) %> |
<%= link_to 'Back', leavetypes_path %>
