<p id="notice"><%= notice %></p>

<p>
  <b>Device name:</b>
  <%= @device.device_name %>
</p>

<p>
  <b>Model:</b>
  <%= @device.model %>
</p>

<p>
  <b>Serial no:</b>
  <%= @device.serial_no %>
</p>

<p>
  <b>Unit price:</b>
  <%= @device.unit_price %>
</p>

<p>
  <b>Quantity:</b>
  <%= @device.quantity %>
</p>

<p>
  <b>Calibration due date:</b>
  <%= @device.calibration_due_date %>
</p>

<p>
  <b>Received date:</b>
  <%= @device.received_date %>
</p>

<p>
  <b>Shipped date:</b>
  <%= @device.shipped_date %>
</p>

<p>
  <b>Comments:</b>
  <%= @device.comments %>
</p>

<p>
  <b>Curently in PaNa:</b>
  <% if @device.status == true %> Yes
    <% else %> No
    <% end %>
</p>

<p>
  <b>Owner:</b>
  <%= @device.project_manager.name %>
</p>

<p>
  <b>Project:</b>
  <%= @device.project.name %>
</p>

<% if can? :update, @device %>
<%= link_to 'Edit', edit_device_path(@device) %> |
<% end %>

<button><%= link_to 'Back', devices_path %></button>
