<h1>Listing leave_types</h1>

<table border = '1'>
  <tr>
    <th> Name </th>
    <th> Max leaves </th>
    <th> Operations </th>
  </tr>

<% @leave_types.each do |leave_type| %>
  <tr align="center">
    <td><%= leave_type.name %></td>
    <td ><%= leave_type.max_leaves %></td>
    <td><%= link_to 'Edit', edit_leave_type_path(leave_type) %> |
    <%= link_to 'Remove', leave_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<button><%= link_to 'New ', new_leave_type_path %><br /></button>
<button><%= link_to "Back", '/' %></button>
