<dic class="fields">
	<p>
    </br><%= f.label :date %><br />
    <%= f.text_field :date, :class => 'datepicker'%>  
    <!-- <div class="field" id="datepicker" data-date="current" >
    <%= f.text_field :date, 'data-behaviour' => 'datepicker' %>
    </div>
     -->
    <%= f.hidden_field :_destroy %>
    <!-- <%= f.check_box :status, {:checked=>false, :hidden =>true}%> -->
    <%= f.hidden_field :status, value: 2 %>
    <%= link_to_function "remove", "remove_fields(this)" %>    
    </p>
</div>

 