<h1>Listing leaves</h1>

<li><%= link_to "New Leave", controller: "leaves", action: "new" %></li>  

<table border="1">
  <tr>
    <th>Emp</th>
    <th>Status</th>
    <th>Leavetype</th>
    <th>Comments</th>
    <th>Dates</th>
    <th align="center">Actions</th>
  </tr>

<% @leaves.each do |leave| %>
  <tr>
  	<td><%= leave.employee.name %></td>
  	<% if leave.status == 1 %>
    <td>Approved</td>
    <%else%>
    <td>Pending</td>
    <% end %> 
    <td><%= leave.leavetype.name %></td> 	
    <td><%= leave.comments %></td>
    
    <!--Check the user role and provide the edit option -->
    <% if can? :update, @user %>
        <td rowspan = leave.leavedays.count>
    	<% leave.leavedays.each do |leaveday| %>
		&nbsp<%= leaveday.date %>&nbsp <%= check_box_tag "id[]", leaveday.id %></br>
    <% end %> 
    </td>
	
	<td>&nbsp<%= link_to "Approve", leaves_update_path(@leave, :id => leave.id, leave:{:id => leave.id, :status =>1}), :method=> :put %> |
    &nbsp<%= link_to "Deny", leaves_destroy_path(@leave, :id => leave.id), :method=> :post, data: { confirm: 'Are you sure, you want to deny the leave request '} %></td>

	<% else %>   
	     <td rowspan = leave.leavedays.count>
	     <% leave.leavedays.each do |leaveday| %>
	     &nbsp<%= leaveday.date %> </br>
         <% end %>     
         </td>
    <% end %> 
  </tr>
<% end %>
</table>

<%= button_to "Back", '/',:method => :get %>
<br />

