<h1>Listing leaves</h1>

<li> <%= link_to "New Leave", controller: "leaves", action: "new" %></li>  

<table border="1">
  <tr>
    <th>Emp</th>
    <th>Status</th>
    <th>Leavetype</th>
    <th>Comments</th>
    <th>Dates</th>
  </tr>

<% @leaves.each do |leave| %>
  <tr>
  	<td><%= leave.employee.name %></td>
  	
  	<% if leave.status == 1 %>
    <td>Approved</td>
    <%else%>
    <td>Pending</td>
    <% end %> 
  	
    <td><%= leave.leavetype.name %></td>
    <!-- <td><a href="/leaves/<%= leave.id %>" ><%= leave.comments %></td>   -->   	
    <td><%= leave.comments %></td>

    <!-- <% if can? :update, @user %>
    <td><%= link_to "Approve", leaves_update_path(@leave, :id => leave.id, :emp_id => leave.emp_id, :status => 1, :leavetype_id => leave.leavetype_id, :comments => "hey am not mad" ), :method=> :put %></td>    
    <% end %>  -->
    
    <!--Check the user role and provide the edit option -->
    <% if can? :update, @user %>
        <td rowspan = leave.leavedays.count>
    	<% leave.leavedays.each do |leaveday| %>
		&nbsp<%= leaveday.date %> &nbsp <input type="checkbox" name=leaveday.date value=leaveday.id/></br>
    <% end %> 
    </td>
	<td>&nbsp<%= link_to "Approve", leaves_update_path(@leave, :id => leave.id, :emp_id => leave.emp_id, :status => 1, :leavetype_id =>leave.leavetype_id, :comments =>leave.comments), :method=> :post %></td>
	<td>&nbsp<%= link_to "Deny", leaves_destroy_path(@leave, :id => leave.id), :method=> :post %></td>
	<% else %>   
	     <td rowspan = leave.leavedays.count>
	     <% leave.leavedays.each do |leaveday| %>
	     &nbsp<%= leaveday.date %> </br>
         <% end %>     
         </td>
    <% end %> 
  </tr>
<% end %>
</table>

<%= link_to "Back", '/' %>
<br />
