<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @project.id %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Client:</b>
  <%= @project.client %>
</p>

<p>
  <b>Start date:</b>
  <%= @project.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @project.end_date %>
</p>

<p>
  <b>Project Manager:</b>
  <%= @project.project_manager.name %>
</p>

<% if can? :update, @project %>
<button><%= link_to 'Edit', edit_project_path(@project) %></button>
<% end %>

<button><%= link_to "Back", '/' %></button>