<h1>Listing timesheets</h1></br>

<%= link_to 'New Timesheet', new_timesheet_path %></br>

<!-- <%= form_tag :action => 'index' do%>
<strong>Select device: </strong>  <%= collection_select(:timesheet, :employee_id, Employee.all, :id, :name, prompt: true) %>

<br></br>
<% end %> -->

<%= form_tag({ :action => "index"}, { :method => "get", :id => "contacts-index" }) do %>

<%= collection_select(:timesheet, :employee_id, Employee.all, :id, :name, prompt: true, { :id => "switch-view" }) %>

  <!-- <%= select_tag(:view, options_for_select([["10", 10], ["25", 25], ["50", 50]]), { :id => "switch-view" }) %> --><% end %>

<div id="calendar">
	
<h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
    <%= h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
  </h2>
  	
  <%= calendar_for @timesheets, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('sun','mon', 'tue', 'wed', 'thu', 'fri', 'sat') %>
    <%= calendar.day(:day_method => :date) do |date, timesheets| %>
    <%= date.day %>
      
      <ul>
      <!-- <% for timesheet in timesheets %>
        <li><%= link_to h(timesheet.id), timesheet %></li>
      <% end %> -->
      
       <% for timesheet in timesheets %> 
         <% timesheet.tasks.each do |task| %> 
         <li><%= link_to h(task.project.name), timesheet %></li>			      
		 <% end %>   
       <% end %>      
    </ul> 
    <% end %>
  <% end %>
</div>
<%= button_to "Back", '/',:method => :get %>


<!-- <table>
  <tr>
    <th>Date</th>
    <th>Employee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timesheets.each do |timesheet| %>
  <tr>
    <td><%= timesheet.date %></td>
    <td><%= timesheet.employee_id %></td>
    <td><%= link_to 'Show', timesheet %></td>
    <td><%= link_to 'Edit', edit_timesheet_path(timesheet) %></td>
    <td><%= link_to 'Destroy', timesheet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br/> -->
