
<h2> Timesheet for the date </h2> </br>

<p>
  <b>Date:</b>
  <%= @timesheet.date %>
</p>

<p>
  <b>Employee:</b>
  <%= @timesheet.employee.name %>
</p>

<% @timesheet.tasks.each do |task| %> 
    <b>Time:</b>
    <%= task. time%><br/>   
    <b>Project:</b>  
    <%= task. project.name %>  
    <b>Comment:</b>  
	<%= task.comment %>	 		      
<% end %>    

<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
