
<h2> Timesheet for the date </h2> </br>

<p>
  <b>Date:</b>
  <%= @timesheet.date %>
</p>

<p>
  <b>Employee:</b>
  <%= @timesheet.employee.name %>
</p>

<% @timesheet.tasks.each do |task| %> 
    <h>===========================================================================================================</h>
    <br>Time:
    <%= task. time%>Hours    
    <br>Project:
    <%= task. project.name %>  
    <br>Comment:
	<%= task.comment %>	 	
<% end %>    
	<h>===========================================================================================================</h>     

<%= button_to "Edit Timesheet", edit_timesheet_path(@timesheet), :method => :get %>
<%= button_to "Back", timesheets_path,:method => :get %>

