<h2> Timesheet for the date </h2> </br>

<p>
  <b>Date:</b>
  <%= @timesheet.date %>
</p>

<p>
  <b>Employee:</b>
  <%= @timesheet.employee.name %>
</p>

<% @timesheet.project_efforts.each do |project_effort| %>
    <br>Project:
    <%= project_effort. project.name %>  
	    <% project_effort.tasks.each do |task| %> 
	       <br>Time:
	       <%= task.time%>Hours     
	       Task:
		   <%= task.comment %>	
	    <% end %>  </br>    	
<% end %>    
<h>===========================================================================================================</h>     

<%= button_to "Edit Timesheet", edit_timesheet_path(@timesheet), :method => :get %>
<%= button_to "Back", timesheets_path,:method => :get %>

